.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
}
.smart-process {
  width: 100%;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.smart-process span {
  font-family: IranSansNum !important;
}
.smart-process p {
  width: 49%;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  color: #3d3d3d;
}
.smart-process h2 {
  margin: 150px 0 100px;
  color: #204066;
  font-family: Anjoman !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
}
.smart-process p:first-of-type {
  margin: 0 0 30px;
}
.smart-process p:last-of-type {
  margin: 0 0 150px;
}

.semicircles {
  position: absolute;
  left: 0;
  top: 855px;
}
.contact-us-content {
  margin-top: 233px;
  position: relative;
  /* text-align: center; */
  display: flex;

  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 100%; */
  flex-direction: column;
}
.contact-us {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 200px 0;
}
#taksa-contact-us {
  width: 914px;
  height: 570px;
  transition: 1s;
  transform: rotate(-3.459deg);
  background-color: #f5f7fa;
  border-radius: 8px;
  display: flex;
  /* justify-content: center */
  align-items: center;
  z-index: 2;
  flex-direction: column;
  box-sizing: border-box !important;
}
#soul {
  position: absolute;
}
#soul::before {
  content: " ";
  width: 914px;
  height: 570px;
  /* margin: auto; */
  border-radius: 8px;
  background: #bfd3eb;
  position: absolute;
  z-index: -1;
}
.taksa-contact-us h3 {
  text-align: justify;
  transform: rotate(3.459deg);
  color: #3d3d3d;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  padding: 0 110px 24px;
  margin-top: 98px;
}
.persons-info {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap !important;
  transform: rotate(3.459deg);
  /* gap: 16px; */
  width: 780px;
  box-sizing: border-box !important;
}
.last-name,
.first-name,
.email,
.phone-number {
  text-align: right;
  margin: 8px;
  font-family: iransansnum !important;
  flex-grow: 1;
  height: 24px !;
  padding: 8px 12px;
  width: 44%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-sizing: content-box !important;
}
textarea {
  height: 120px;
  width: 93.3%;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 8px 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: iransansnum !important;
  text-overflow: ellipsis;
  box-sizing: content-box !important;
}
.persons-info button {
  width: 91%;
  margin-right: 6px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #f27f51;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  box-sizing: content-box !important;
}
.persons-info input:hover,
.persons-info button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.taksa-info {
  display: flex;
  margin: 0 0 140.78px;
  gap: 19.66;
  width: 780px;
}
.taksa-mail div,
.taksa-location div,
.taksa-phone div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #205295;
  width: 24px;
  height: 24px;
  margin-left: 19.67px;
}
.taksa-mail,
.taksa-location,
.taksa-phone {
  height: auto;
  width: 289px;
  border-radius: 6px;
  background: #f5f7fa;
  margin: 9px;
  padding: 13.11px 19.665px;
  font-family: iransansnum !important;
  font-size: 14px;
  display: flex;
  color: #204066;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.499px;
  justify-content: flex-start;
  align-items: center;
}
