.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: IranSansX;
  position: relative;
  width: 100%;
}
header {
  width: 100%;
}
.container h2 {
  color: #204066;
  text-align: center;
  font-family: Anjoman;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  margin: 150px 0 100px;
}

.question-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 200px;
}

.questions {
  background-color: #f5f7fa;
  border-radius: 8px;
  width: 710px;
}
.top-bullets,
.semi-circles,
.left-bullets,
.green-circles,
.blue-circles,
.bottom-bullets {
  position: absolute;
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.semi-circles {
  top: 384px;
  left: 0;
}
.left-bullets {
  top: 1216px;
  left: 0;
}
.blue-circles {
  top: 1894px;
  left: 0;
}
.bottom-bullets {
  flex-direction: row;
  top: 1980px;
  right: 0;
}
.top-bullets {
  top: 80px;
  right: 0;
}
.green-circles {
  top: 786px;
  right: 61px;
}
.check-mark {
  list-style: none;
}

.check-mark li:before {
  content: "✓ ";
}
.persian-decimal > li:before {
  font-size: 16px !important;
  font-family: IranSansNum !important;
}
ol {
  list-style-type: none;
  counter-reset: ol-counter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.persian-decimal li:before {
  content: counter(ol-counter) "- ";
  counter-increment: ol-counter;
}
a {
  color: #2e81ff;
}
