.nav-logo {
  width: 85px;
  height: 75px;
  margin: 0 15px;
}
nav .taksa-logo {
  width: 100%;
  height: 100%;
  margin: 0 15px;
  box-sizing: content-box;
}
.navbar {
  padding: 16px 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 93px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  position: fixed;
  top: 0;
  left: -200;
  background-color: transparent;
  width: 100%;
  z-index: 324;
  /* box-shadow: 0px 0px 10px 0px rgba(32, 82, 149, 0.25); */
}
.signin-btn:hover,
.links a:hover {
  cursor: pointer;
}
.navbar-scrolled {
  padding: 16px 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 93px;
  font-size: 16px;
  font-style: normal;
  top: 0;
  font-weight: 500;
  line-height: 22px;
  color: #204066;
  position: fixed;
  left: -200;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(32, 82, 149, 0.25);
  z-index: 324;
}
.links a {
  margin-left: 32px;
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 151px;
  flex-wrap: nowrap;
}
.signin-btn {
  font-family: inherit !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  background-color: #204066;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}
#navbar-hr {
  border: none;
  border-bottom: 1px solid #fff;
  z-index: 5;
  position: absolute;
  top: 93px;
  width: 85%;
}
.head {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(32, 82, 149, 0.25);
}
.links a:hover {
  cursor: pointer;
}
.links a:active,
.links a:visited,
.link a:link {
  color: inherit;
}
