<div class="container">
  <h2>اطلاعات کسب و کار خود را به صورت دقیق وارد کنید</h2>
  <div class="bussiness-info">
    <form action="">
      <input type="text" placeholder="نام شرکت" />
      <input type="text" placeholder="شناسه ملی شرکت" />
      <input type="text" placeholder="نام و نام خانوادگی رابط" />
      <input type="text" placeholder="شماره تماس رابط" />
      <fieldset>تعداد صورت حساب ها در سال</fieldset>
      <div>
        <label for="less-than-200">زیر 200</label>
        <input type="radio" name="number of invoices" id="less-than-200" />
        <label for="between-200-2000">200 تا 2000</label>
        <input type="radio" name="number of invoices" id="between-200-2000" />
        <label for="more-than-2000">بالای 2000</label>
        <input type="radio" name="number of invoices" id="more-than-2000" />
      </div>
      <fieldset>تعداد صورت حساب ها در سال</fieldset>
      <div>
        <label for="till-500">تا 500 میلیون تومان</label>
        <input type="radio" name="average of invoices" id="till-500" />
        <label for="between-500-5000">از 500 میلیون تا 5 میلیارد تومان</label>
        <input type="radio" name="average of invoices" id="between-500-5000" />
        <label for="more-than-5000">بالای 5 میلیارد تومان</label>
        <input type="radio" name="average of invoices" id="more-than-5000" />
      </div>
      <button type="submit">ارسال</button>
    </form>
  </div>
</div>
